<form
  class="m-form__section m-form__section--first"
  (submit)="comprar()"
  ngNativeValidate
>
  <div class="form-group m-form__group">
    <h5>Membresias:</h5>
    <div class="row">
      <div
        class="col-lg-6 mt-2"
        *ngFor="let membresia of membresias; let i = index"
      >
        <!--Ojo! al pasar la membresia, se tiene efecto de lado.
          El descuento se agrega en el componente m-membresia a la membresia del componente compra
        -->
        <m-membresia
          [membresia]="membresia"
          (onCheck)="agregarMembresia($event)"
          (onUncheck)="eliminarMembresia($event)"
          (onUncheck)="eliminarMembresia($event)"
          [seleccionada]="estaSeleccionada(membresia)"
          [descuentoSocio]="socio.descuento"
        ></m-membresia>
      </div>
    </div>
  </div>
  <div class="m-separator m-separator--dashed m-separator--lg"></div>
  <div class="form-group m-form__group">
    <div class="row">
      <div class="col">
        <label>Tipo de pago:</label>

        <select
          class="form-control m-input"
          name="tipo"
          [(ngModel)]="tipoDePago"
          required
        >
          <option value="efectivo">Efectivo</option>
          <option value="debito">Tarjeta de debito</option>
          <option value="credito">Tarjeta de credito</option>
        </select>
      </div>
      <div class="col">
        <label>Observacion:</label>

        <input
          class="form-control m-input"
          name="obs"
          type="text"
          [(ngModel)]="observacion"
        />
      </div>
    </div>
  </div>
  <div class="m-separator m-separator--dashed m-separator--lg"></div>

  <div
    class="m-accordion m-accordion--default"
    id="m_accordion_1"
    role="tablist"
  >
    <!--begin::Item-->
    <div class="m-accordion__item">
      <div
        class="m-accordion__item-head collapsed"
        role="tab"
        id="m_accordion_1_item_1_head"
        data-toggle="collapse"
        href="#m_accordion_1_item_1_body"
        aria-expanded="false"
      >
        <span class="m-accordion__item-icon"
          ><i style="color: #36a3f7" class="la la-money"></i
        ></span>
        <span class="m-accordion__item-title"
          >Total: {{ calcularTotal() }}</span
        >
        <span class="m-accordion__item-mode"></span>
      </div>

      <div
        class="m-accordion__item-body collapse"
        id="m_accordion_1_item_1_body"
        role="tabpanel"
        aria-labelledby="m_accordion_1_item_1_head"
        data-parent="#m_accordion_1"
      >
        <div class="m-accordion__item-content">
          <div class="m-demo__preview">
            <div class="m-list-timeline">
              <div class="m-list-timeline__items">
                <div class="m-list-timeline__item">
                  <div
                    class="row m--padding-bottom-10"
                    *ngFor="let membresia of membresiasSelec"
                  >
                    <div class="col-12" style="display: inline-flex;">
                      <span
                        class="m-list-timeline__badge m-list-timeline__badge--success"
                      ></span>
                      <span class="m-list-timeline__text">
                        <div class="row">
                          <div class="col-2">{{ membresia.nombre }}:</div>
                          <div class="col">
                            <strong style="color:green"
                              >+ ${{ membresia.precio }}</strong
                            >
                          </div>
                        </div>
                      </span>
                    </div>
                    <div class="col-12" style="padding-left: 35px;">
                      <ng-container *ngIf="getRebajaDescuentoMembresia(membresia) > 0">
                        <div class="row">
                          <div class="col-2">
                            {{ membresia.descuento?.nombre }}:
                          </div>
                          <div class="col">
                            <strong style="color: #e85b5b"
                              >- ${{
                                getRebajaDescuentoMembresia(membresia)
                              }}</strong
                            >
                          </div>
                        </div>
                      </ng-container>
                    </div>
                    <div class="col-12" style="padding-left: 35px;">
                      <ng-container *ngIf="membresia.getDescuentoSocio(socio)">
                        <div class="row">
                          <div class="col-auto">
                            {{ membresia.getDescuentoSocio(socio).nombre }}:
                          </div>
                          <div class="col">
                            <strong style="color: #e85b5b"
                              >- ${{
                                getRebajaDescuentoSocio(membresia)
                              }}</strong
                            >
                          </div>
                        </div>
                      </ng-container>
                    </div>
                    <div class="col" style="text-align: right">
                      Total:
                      <strong>${{ calcularTotalParcial(membresia) }}</strong>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--end::Item-->
  </div>

  <div class="m-separator m-separator--dashed m-separator--lg"></div>

  <div class="form-group m-form__group row">
    <div class="col-lg-6">
      <label>Abona con:</label>
      <input
        type="number"
        class="form-control m-input"
        [(ngModel)]="abonaCon"
        name="abonaCon"
        placeholder="123"
      />
    </div>
    <div class="col-lg-6">
      <label class="">Vuelto:</label>
      <input
        type="number"
        class="form-control m-input"
        [value]="
          abonaCon - calcularTotal() > 0 ? abonaCon - calcularTotal() : 0
        "
        placeholder="12"
        disabled
      />
    </div>
  </div>

  <br />
  <div class="m-portlet__foot">
    <div class="row">
      <div class="col-lg-6">
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</form>
