<!--Begin::Section-->
<div class="row">
	<div class="col-xl-4">

	</div>
	<div class="col-xl-4">

	</div>
	<div class="col-xl-4">

	</div>
</div>
<!--End::Section-->

<!--Begin::Section-->
<div class="m-portlet">
	<div class="m-portlet__body m-portlet__body--no-padding">
		<div class="row m-row--no-padding m-row--col-separator-xl">
		</div>
	</div>
</div>
<!--End::Section-->

<!--Begin::Section-->
<div class="row">
	<div class="col-xl-6">

	</div>
</div>
<!--End::Section-->

<!--Begin::Section-->
<div class="row">
	<div class="col-xl-6">

	</div>
</div>
<!--End::Section-->

<!--Begin::Section-->
<div class="row">
	<div class="col-xl-8">

	</div>
</div>
<!--End::Section-->

<!--Begin::Section-->
<div class="row">
	<div class="col-xl-8">

	</div>
</div>
<!--End::Section-->
