<!-- <li class="m-nav__item m-topbar__languages m-dropdown m-dropdown--small m-dropdown--arrow m-dropdown--align-right m-dropdown--mobile-full-width" m-dropdown-toggle="click"> -->
<a href="javascript:;" class="m-nav__link m-dropdown__toggle">
	<span class="m-nav__link-text">
		<i class="flaticon-cogwheel" style="font-size: large;color: #ad5beb;"></i>
	</span>
</a>
<div class="m-dropdown__wrapper">
	<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
	<div class="m-dropdown__inner">
		<div class="m-dropdown__header m--align-center">
			<span class="m-dropdown__header-subtitle">Configuracion</span>
		</div>
		<div class="m-dropdown__body">
			<div class="m-dropdown__content">
				<ul class="m-nav m-nav--skin-light">
					<div class="m-form__group form-group row">

						<div class="col-auto" >
							<span class="m-switch m-switch--icon m-switch--success">
								<label>
									<input type="checkbox" checked="checked" name="automatico" #automatico (change)="cambiarAutomatico(automatico.checked)">
									<span></span>
								</label>
							</span>
						</div>
						<label class="col col-form-label">Automatico</label>
					</div>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- </li> -->