
	<div class="m-widget12">
		<div class="m-widget12__item">
			<span class="m-widget12__text1">Nombre<br><span>{{socio.apellido+', '+ socio.nombre}}</span></span>
			<span class="m-widget12__text2">Documento<br><span>{{socio.dni}}</span></span>
		</div>
		<div class="m-separator m-separator--dashed m-separator--lg" style="margin-top: 20px"></div>
		<div class="m-widget12__item">
			<span class="m-widget12__text1">Telefono<br><span>{{socio.telefono}}</span></span>
			<span class="m-widget12__text2">Fecha nacimiento<br><span>{{socio.fechaNacimiento}}</span></span>
		</div>
		<div class="m-separator m-separator--dashed m-separator--lg" style="margin-top: 20px"></div>
		<div class="m-widget12__item">
			<span class="m-widget12__text1">Genero<br><span>{{socio.genero}}</span></span>
			<span class="m-widget12__text2">Descuento<br><span>{{socio.descuento.nombre}}</span></span>
		</div>
		<div class="m-separator m-separator--dashed m-separator--lg" style="margin-top: 20px"></div>
		<div class="m-widget12__item">
			<span class="m-widget12__text1">Domicilio<br><span>{{socio.direccion}}</span></span>
			<div class="m-widget12__text2">
				<div class="m-widget12__desc">Pagos en fecha</div>
				<br>
				<div class="m-widget12__progress">
					<div class="m-widget12__progress-sm progress m-progress--sm">
						<div class="m-widget12__progress-bar progress-bar bg-brand" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<span class="m-widget12__stats">
						70%
						</span>
				</div>
			</div>
		</div>
	</div>



