<m-modal [titulo]="titulo">
  <div class="m-list-timeline">
    <div class="m-list-timeline__items">
      <div class="m-list-timeline__item" *ngFor="let elemento of lista">
        <div class="row">
          <div class="col-md-6 col-lg-6">
            <span class="m-list-timeline__badge"></span>
            <span class="m-list-timeline__text" style="padding-left: 20px"
              >{{ elemento.label }}:
            </span>
          </div>
          <div class="col-md-6 col-lg-6">
            <span style="color: #6610f2" *ngIf="!isBoolean(elemento.dato)">{{
              elemento.dato
            }}</span>
            <i
              class="la la-check-circle"
              style="color: #6610f2"
              *ngIf="isBoolean(elemento.dato) && elemento.dato"
            ></i>
            <i
              class="la la-times-circle"
              style="color: #6610f2"
              *ngIf="isBoolean(elemento.dato) && !elemento.dato"
            ></i>
          </div>
        </div>
      </div>
      <span *ngIf="lista.length == 0">No hay elementos para mostrar</span>
    </div>
  </div>
</m-modal>
