<div class="m-portlet m-portlet--success m-portlet--head-solid-bg">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <span class="m-portlet__head-icon">
          <i style="font-size: 2.2rem;" class="flaticon-edit"></i>
        </span>
        <h3 class="m-portlet__head-text">
          Tomar presente
        </h3>
      </div>
    </div>
  </div>

  <div class="m-portlet__body">
    <m-tabs [tabs]="nombres" (onTabChange)="tabChange($event)"></m-tabs>
    <m-lista-asistentes [asistentes]=""></m-lista-asistentes>
  </div>

</div>
