<div *ngFor="let item of items; let i = index">
  <div class="row">
    <div class="col-auto">
      <span class="m-switch m-switch--sm m-switch--icon">
        <label>
          <input
            type="checkbox"
            (change)="toggleItem(item)"
            [checked]="itemEstaSeleccionado(item)"
            [name]="'item' + i"
          />
          <span></span>
        </label>
      </span>
    </div>
    <div class="col-form-label">
      <span>{{ item[label] }}</span>
    </div>
  </div>
</div>
