<div class="m-portlet m-portlet--success m-portlet--head-solid-bg">
  <form (submit)="enviarEvento()" ngNativeValidate>
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <span class="m-portlet__head-icon">
            <i style="font-size: 2.2rem;" class="flaticon-user"></i>
          </span>
          <h3 class="m-portlet__head-text">
            {{ editando ? "Modificar usuario" : "Alta de usuarios" }}
          </h3>
        </div>
      </div>
      <div class="m-portlet__head-tools" *ngIf="editando">
        <ul class="m-portlet__nav">
          <li class="m-portlet__nav-item">
            <a
              class="btn btn-outline-secondary m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--outline-2x m-btn--pill m-btn--air"
              style="color:white"
              (click)="irALaTabla()"
            >
              <i class="la la-angle-right"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="m-portlet__body">
      <div class="form-group m-form__group row">
        <div class="col-lg-6">
          <label>* Nombre:</label>
          <div class="m-input-icon m-input-icon--right">
            <input
              type="text"
              class="form-control m-input"
              placeholder="Juan"
              name="nombre"
              [(ngModel)]="socio.nombre"
              required
            />
            <span class="m-input-icon__icon m-input-icon__icon--right">
              <span>
                <i class="la la-user"></i>
              </span>
            </span>
          </div>
        </div>
        <div class="col-lg-6">
          <label class="">* Apellido:</label>
          <div class="m-input-icon m-input-icon--right">
            <input
              type="text"
              class="form-control m-input"
              placeholder="Perez"
              name="apellido"
              [(ngModel)]="socio.apellido"
              required
            />
            <span class="m-input-icon__icon m-input-icon__icon--right">
              <span>
                <i class="la la-user"></i>
              </span>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <div class="col-lg-6">
          <label>* Dni:</label>
          <div class="m-input-icon m-input-icon--right">
            <input
              type="number"
              class="form-control m-input"
              name="documento"
              placeholder="12345678"
              [(ngModel)]="socio.dni"
            />
            <span class="m-input-icon__icon m-input-icon__icon--right">
              <span>
                <i class="la la-user-plus"></i>
              </span>
            </span>
          </div>
        </div>
        <div class="col-lg-6">
          <label class="">Email:</label>
          <div class="m-input-icon m-input-icon--right">
            <input
              type="email"
              class="form-control m-input"
              name="email"
              placeholder="jperez@gmail.com"
              [(ngModel)]="socio.email"
            />
            <span class="m-input-icon__icon m-input-icon__icon--right">
              <span>
                <i class="la la-envelope"></i>
              </span>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <div class="col-lg-6">
          <label>Telefono:</label>
          <div class="m-input-icon m-input-icon--right">
            <input
              type="text"
              class="form-control m-input"
              name="telefono"
              placeholder="11-1234-5678"
              [(ngModel)]="socio.telefono"
            />
            <span class="m-input-icon__icon m-input-icon__icon--right">
              <span>
                <i class="la la-phone"></i>
              </span>
            </span>
          </div>
        </div>
        <div class="col-lg-6">
          <label class="">Domicilio:</label>
          <div class="m-input-icon m-input-icon--right">
            <input
              type="text"
              class="form-control m-input"
              name="domicilio"
              placeholder="AV. 9 de Julio, 1234"
              [(ngModel)]="socio.direccion"
              pattern="(.+)([/,/]{1})(.+)"
              title="Calle, Altura"
            />
            <span class="m-input-icon__icon m-input-icon__icon--right">
              <span>
                <i class="la la-home"></i>
              </span>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <div class="col-lg-6">
          <label>Fecha nacimiento:</label>
          <div class="m-input-icon m-input-icon--right">
            <input
              type="date"
              class="form-control m-input"
              name="fechaNacimiento"
              [value]="socio.fechaNacimiento?.back"
              (change)="socio.fechaNacimiento.change($event.target.value)"
            />
            <span class="m-input-icon__icon m-input-icon__icon--right">
              <span>
                <i class="la la-calendar"></i>
              </span>
            </span>
          </div>
        </div>
        <div class="col-lg-6">
          <label>Descuento</label>
          <select
            class="form-control m-input"
            name="descuento"
            [(ngModel)]="socio.descuento"
          >
            <option [ngValue]="null" [selected]="!socio.descuento"
              >Ninguno</option
            >
            <option
              *ngFor="let descuento of descuentos"
              [ngValue]="descuento"
              [selected]="descuento.id == socio.descuento?.id"
              >{{ descuento.nombre }}</option
            >
          </select>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <div class="col-lg-6">
          <label>Nro socio:</label>
          <div class="m-input-icon m-input-icon--right">
            <input
              type="text"
              class="form-control m-input"
              name="nroSocio"
              [(ngModel)]="socio.nroSocio"
            />
            <span class="m-input-icon__icon m-input-icon__icon--right">
              <span>
                <i class="la la-calendar"></i>
              </span>
            </span>
          </div>
        </div>
        <div class="col-lg-6">
          <label>Genero:</label>
          <div class="m-input-icon m-input-icon--right">
            <div class="m-radio-inline">
              <label class="m-radio m-radio--solid">
                <input
                  type="radio"
                  name="example_2"
                  value="masculino"
                  [(ngModel)]="socio.genero"
                />
                Masculino
                <span></span>
              </label>
              <label class="m-radio m-radio--solid">
                <input
                  type="radio"
                  name="example_2"
                  value="femenino"
                  [(ngModel)]="socio.genero"
                />
                Femenino
                <span></span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="m-portlet__foot">
      <div class="row">
        <div class="col-lg-6">
          <button type="submit" class="btn btn-primary">Guardar</button>
          <span class="m--margin-left-10"
            >o
            <a class="m-link m--font-bold" (click)="borrarSocio()">Borrar</a>
          </span>
        </div>
      </div>
    </div>
  </form>
</div>
